apiVersion: radix.equinor.com/v1
kind: RadixApplication
metadata:
  name: daft-webviz-plugin-test
spec:
  environments:
    - name: dev
      build:
        from: master
  components:
    - name: main
      src: "./portable"
      ports:
        - name: http
          port: 5000
      publicPort: http
      environmentConfig:
        - environment: dev
          resources:
            requests:
              memory: "400Mi"
              cpu: "100m"
            limits:
              memory: "1G"
              cpu: "200m"
      secrets:
        - TENANT_ID
        - CLIENT_ID
        - CLIENT_SECRET
        - SCOPE
        - AUTHORITY
        - SESSION_SECRET_KEY # Output of `python -c 'import os,base64; print base64.urlsafe_b64encode(os.urandom(16))'`
        - SUMO_BASE_URL